:root {
    --bg-dark: #020204;
    --modal-bg: #161618;
    --main-font-color: #ffffff;
    --white-color: #ffff;
    --hightlight: #e45d8d;
    --white-smoke: #f5f5f5;
    --shadow: #cabfbf;
    --service-icon: #aa3184;
}